<div align="center" style="font-size:28px; font-weight:bold;">Concatenating Annual Datasets into a Single DataFrame</div>

This Jupyter Notebook serves as a foundation for an in-depth analysis of educational outcomes and state funding correlations. By consolidating EDFacts datasets from 2015 to 2021 into a single DataFrame, it enables a streamlined approach to examining trends and performing comprehensive analyses. This preparatory step is crucial for the subsequent project titled "Educate, Invest, Excel: Budgets & StateEd Priorities," which aims to dissect the nuanced relationship between state funding allocations and academic achievements in early education. This endeavor not only seeks to identify the impact of financial investments in education but also to provide actionable insights for enhancing educational quality through strategic funding. By merging these datasets, we lay the groundwork for a detailed exploration of how different states' budgetary priorities influence educational outcomes, thereby offering valuable evidence-based recommendations for policymakers and educational stakeholders.
<br></br>
<div align="center" style="font-size:20px; font-weight:bold;">Data Processing and Analysis Workflow</div>

#### Data Extraction:
Initiate the project by extracting data from EDFacts, specifically targeting the LEA (Local Education Agency) files for each school year. While the School Level data offers granular insights, the LEA files provide a more aggregated view, suitable for analyzing trends and outcomes at a broader, district-wide level. Accompanying 'Documentation' and 'Data Notes' files will be reviewed to understand any nuances or specific considerations that may influence our analysis, ensuring we account for any anomalies or significant changes in data collection methodologies over the years.
#### Data Cleaning:
The next phase involves meticulously cleaning the extracted data to ensure uniformity and accuracy across all datasets. This step is crucial for aligning column names, addressing missing or incomplete data, and verifying that all data types are correctly formatted for subsequent analysis. The goal is to create a consistent and reliable dataset that accurately reflects the LEA's educational outcomes and characteristics over time.
#### Data Concatenation:
Following cleaning, we will concatenate the annual datasets into a singular, comprehensive DataFrame. This consolidation is pivotal for facilitating longitudinal studies, allowing us to observe and analyze trends, shifts, and patterns in educational outcomes across different time periods. By amalgamating the data, we lay the groundwork for a robust analysis that can uncover insights into the effectiveness of educational policies and funding allocations at the LEA level.
#### Analysis Preparation:
With a concatenated DataFrame in hand, we'll undertake preparatory steps to ready the data for in-depth analysis. This includes setting proper indices, ensuring the data is correctly sorted, and conducting final integrity and consistency checks. This preparation is essential for a seamless analysis phase, where we aim to delve into the intricate relationships between state funding, educational initiatives, and academic success rates.

Original datasets were found here: https://www2.ed.gov/about/inits/ed/edfacts/data-files/index.html#acgr

In [1]:
%cd "C:\Users\user\Desktop\StateEdFundingImpact"
import sys
sys.path.append(r"C:\Users\user\Desktop\StateEdFundingImpact")

C:\Users\user\Desktop\StateEdFundingImpact

In [2]:
from src.data.extract_data import extract_data
from src.data.clean_data import flatten_columns_and_rename
from src.data.clean_pre_18 import clean_pre_18
from src.data.clean_post_18 import clean_post_18
import pandas as pd

In [3]:
#Extracting
# src/data/extract_data.py

def extract_data(file_paths):
    """Extract data from multiple CSV files.

    Parameters:
    - file_paths (list of str): A list of paths to the CSV files.

    Returns:
    - list of pd.DataFrame: A list of the extracted data as pandas DataFrames.
    """
    dataframes = [pd.read_csv(file_path) for file_path in file_paths]
    return dataframes

file_paths = [
    r"C:\Users\user\Desktop\StateEdFundingImpact\data\EdFacts\acgr-lea-sy2015-16.csv",
    r"C:\Users\user\Desktop\StateEdFundingImpact\data\EdFacts\acgr-lea-sy2016-17.csv",
    r"C:\Users\user\Desktop\StateEdFundingImpact\data\EdFacts\acgr-lea-sy2017-18.csv",
    r"C:\Users\user\Desktop\StateEdFundingImpact\data\EdFacts\acgr-lea-sy2018-19-long.csv",
    r"C:\Users\user\Desktop\StateEdFundingImpact\data\EdFacts\acgr-lea-sy2019-20-long.csv",
    r"C:\Users\user\Desktop\StateEdFundingImpact\data\EdFacts\acgr-lea-sy2020-21-long.csv"
]
dfs = extract_data(file_paths)

for df in dfs:
    print(df.head())

     STNAM  FIPST   LEAID             LEANM  ALL_COHORT_1516 ALL_RATE_1516  \
0  ALABAMA      1  100005  Albertville City              296            92
1  ALABAMA      1  100006   Marshall County              434            88
2  ALABAMA      1  100007       Hoover City             1127            93
3  ALABAMA      1  100008      Madison City              855            97
4  ALABAMA      1  100011        Leeds City              123         90-94

   MAM_COHORT_1516 MAM_RATE_1516  MAS_COHORT_1516 MAS_RATE_1516  ...  \
0              2.0            PS              1.0            PS  ...
1              4.0            PS              1.0            PS  ...
2              NaN           NaN             65.0         90-94  ...
3              3.0            PS             63.0          GE95  ...
4              NaN           NaN              1.0            PS  ...

   MTR_RATE_1516 MWH_COHORT_1516  MWH_RATE_1516 CWD_COHORT_1516  \
0            NaN           193.0          90-94            18.0
1             PS           368.0             86            51.0
2           GE80           678.0             96            82.0
3           GE80           534.0             98            47.0
4             PS            66.0           GE95            16.0

   CWD_RATE_1516 ECD_COHORT_1516  ECD_RATE_1516 LEP_COHORT_1516  \
0          60-79           108.0          80-84             9.0
1          50-59           274.0          80-84             3.0
2          60-64           223.0          80-84             8.0
3          70-79           162.0          90-94             7.0
4          60-79            60.0          80-89             1.0

   LEP_RATE_1516 DATE_CUR
0           GE50  01JUL17
1             PS  01JUL17
2           GE50  01JUL17
3           GE50  01JUL17
4             PS  01JUL17

[5 rows x 25 columns]
     STNAM  FIPST   LEAID ST_LEAID             LEANM  ALL_COHORT_1617  \
0  ALABAMA      1  100005   AL-101  Albertville City              311
1  ALABAMA      1  100006   AL-048   Marshall County              431
2  ALABAMA      1  100007   AL-158       Hoover City             1153
3  ALABAMA      1  100008   AL-169      Madison City              861
4  ALABAMA      1  100011   AL-167        Leeds City              110

  ALL_RATE_1617  MAM_COHORT_1617 MAM_RATE_1617  MAS_COHORT_1617  ...  \
0            93              NaN           NaN              2.0  ...
1            90              NaN           NaN              1.0  ...
2            93              NaN           NaN             60.0  ...
3            97              NaN           NaN             60.0  ...
4          GE95              NaN           NaN              1.0  ...

  MTR_RATE_1617  MWH_COHORT_1617 MWH_RATE_1617  CWD_COHORT_1617 CWD_RATE_1617  \
0            PS            199.0         90-94              NaN           NaN
1            PS            356.0            90              NaN           NaN
2          GE90            682.0            95              NaN           NaN
3          GE80            544.0            97              NaN           NaN
4          GE50             55.0         80-89              NaN           NaN

   ECD_COHORT_1617 ECD_RATE_1617  LEP_COHORT_1617 LEP_RATE_1617  DATE_CUR
0              NaN           NaN              NaN           NaN   17AUG18
1              NaN           NaN              NaN           NaN   17AUG18
2              NaN           NaN              NaN           NaN   17AUG18
3              NaN           NaN              NaN           NaN   17AUG18
4              NaN           NaN              NaN           NaN   17AUG18

[5 rows x 26 columns]
     STNAM  FIPST   LEAID ST_LEAID             LEANM  ALL_COHORT_1718  \
0  ALABAMA      1  100005   AL-101  Albertville City              312
1  ALABAMA      1  100006   AL-048   Marshall County              416
2  ALABAMA      1  100007   AL-158       Hoover City             1120
3  ALABAMA      1  100008   AL-169      Madison City              923
4  ALABAMA      1  100011   AL-167        Leeds City              128

  ALL_RATE_1718  MAM_COHORT_1718 MAM_RATE_1718  MAS_COHORT_1718  ...  \
0            94              NaN           NaN              2.0  ...
1            91              3.0            PS              3.0  ...
2            94              NaN           NaN             73.0  ...
3            96              3.0            PS             76.0  ...
4          GE95              NaN           NaN              2.0  ...

  CWD_RATE_1718  ECD_COHORT_1718 ECD_RATE_1718  FCS_COHORT_1718 FCS_RATE_1718  \
0          GE50             93.0         80-84              NaN           NaN
1         70-79            249.0         85-89              2.0            PS
2         60-69            234.0         80-84              2.0            PS
3         75-79            159.0         85-89              1.0            PS
4          GE50             53.0          GE90              1.0            PS

   HOM_COHORT_1718 HOM_RATE_1718  LEP_COHORT_1718 LEP_RATE_1718  DATE_CUR
0              2.0            PS             22.0         60-79   23SEP19
1             23.0          GE80             11.0          GE50   23SEP19
2              7.0          GE50              9.0          LT50   23SEP19
3              9.0          GE50             13.0          GE50   23SEP19
4              4.0            PS              1.0            PS   23SEP19

[5 rows x 30 columns]
  SCHOOL_YEAR    STNAM  FIPST   LEAID ST_LEAID             LEANM CATEGORY  \
0   2018-2019  ALABAMA      1  100005   AL-101  Albertville City      ALL
1   2018-2019  ALABAMA      1  100005   AL-101  Albertville City      CWD
2   2018-2019  ALABAMA      1  100005   AL-101  Albertville City      ECD
3   2018-2019  ALABAMA      1  100005   AL-101  Albertville City      HOM
4   2018-2019  ALABAMA      1  100005   AL-101  Albertville City      LEP

   COHORT   RATE DATE_CUR
0     375     94  24JUL20
1      19   GE80  24JUL20
2     114  90-94  24JUL20
3       7   LT50  24JUL20
4      67  75-79  24JUL20
  SCHOOL_YEAR    STNAM  FIPST   LEAID ST_LEAID             LEANM CATEGORY  \
0   2019-2020  ALABAMA      1  100005   AL-101  Albertville City      ALL
1   2019-2020  ALABAMA      1  100005   AL-101  Albertville City      CWD
2   2019-2020  ALABAMA      1  100005   AL-101  Albertville City      ECD
3   2019-2020  ALABAMA      1  100005   AL-101  Albertville City      FCS
4   2019-2020  ALABAMA      1  100005   AL-101  Albertville City      HOM

   COHORT   RATE DATE_CUR
0     347     93  19MAY21
1      20  60-79  19MAY21
2      97  90-94  19MAY21
3       2     PS  19MAY21
4       2     PS  19MAY21
  SCHOOL_YEAR    STNAM  FIPST   LEAID ST_LEAID             LEANM CATEGORY  \
0   2020-2021  ALABAMA      1  100005   AL-101  Albertville City      ALL
1   2020-2021  ALABAMA      1  100005   AL-101  Albertville City      CWD
2   2020-2021  ALABAMA      1  100005   AL-101  Albertville City      ECD
3   2020-2021  ALABAMA      1  100005   AL-101  Albertville City      HOM
4   2020-2021  ALABAMA      1  100005   AL-101  Albertville City      LEP

   COHORT   RATE DATE_CUR
0     385     93  25MAY22
1      20  60-79  25MAY22
2     174  90-94  25MAY22
3       2     PS  25MAY22
4      57  80-89  25MAY22

<!DOCTYPE html>
<body>
<h1 style="text-align: center;">Streamlined Approach to Cleaning Educational Data</h1>

<h3>Overview</h3>
<p>In preparing the EDFacts educational data for comprehensive analysis, our approach was guided by the goal of ensuring data usability and integrity across all available years. Contrary to initial expectations, the distinction between pre-2018 and post-2018 datasets did not necessitate a significantly bifurcated cleaning strategy. Instead, we implemented a streamlined process that effectively addressed the nuances of the entire dataset, reinforcing our commitment to analytical precision and data consistency.</p>

<h3>Key Steps in Data Preparation</h3>

<strong>Data Extraction and Transformation:</strong>
<p>Our first step involved extracting essential information and transforming the data into a long format, which enhanced our ability to manipulate and analyze the information at a granular level. This transformation was crucial for simplifying the datasets into a manageable structure conducive to in-depth examination.</p>

<strong>Normalization and Aggregation:</strong>
<p>We normalized rate data, converting various representations into a standardized numeric format to address the presence of rate ranges and specific codes. This uniformity allowed for comparative analyses across different states. Additionally, we aggregated the data by state, summarizing cohort sizes and average graduation rates, which was instrumental in comparing educational outcomes and understanding trends and patterns.</p>

<h3>Consistent Cleaning Logic Across Years</h3>
<p>Despite initial plans for a two-phase approach due to anticipated variations in data structure and reporting standards post-2018, our cleaning process remained largely consistent across all years. The minor adjustments made for post-2018 data did not significantly alter our overall strategy, allowing us to maintain a uniform analytical framework. This consistency ensures that our analysis is based on harmonized datasets, enabling us to draw meaningful insights into the impact of state funding and other factors on graduation outcomes—a key measure of educational success.</p>

<h3>Conclusion</h3>
<p>Our streamlined data cleaning process underscores the importance of flexibility and precision in handling educational data. By adapting our methodologies to the characteristics of the dataset as a whole, rather than imposing arbitrary divisions, we have laid a robust foundation for subsequent analyses. This approach allows us to explore the evolving landscape of educational data with an analytical lens that is both comprehensive and current, ensuring that our insights remain relevant and actionable.</p>

</body>
</html>

In [4]:
# Extract data from the specified file paths
state_grads_dataframes = extract_data(file_paths)

In [5]:
cleaned_dfs_2015_2021 = [clean_pre_18(df) if index < 3 else clean_post_18(df) for index, df in enumerate(dfs)]

In [6]:
# checking clean
for index, df in enumerate(cleaned_dfs_2015_2021):
    print(f"DataFrame {index}:")
    df.info()
    print("\n")

DataFrame 0:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         52 non-null     object
 1   COHORT        52 non-null     object
 2   PERCENT_RATE  52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB


DataFrame 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         50 non-null     object
 1   COHORT        50 non-null     object
 2   PERCENT_RATE  50 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB


DataFrame 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         52 non-null     object
 1   COHORT        52 non-null     object
 2   PERCENT_RATE  52 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.3+ KB


DataFrame 3:
<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 2018-2019 to 2018-2019
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         51 non-null     object
 1   COHORT        51 non-null     int64
 2   RATE_NUMERIC  51 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ KB


DataFrame 4:
<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, 2019-2020 to 2019-2020
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         51 non-null     object
 1   COHORT        51 non-null     int64
 2   RATE_NUMERIC  51 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ KB


DataFrame 5:
<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 2020-2021 to 2020-2021
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATE         50 non-null     object
 1   COHORT        50 non-null     int64
 2   RATE_NUMERIC  50 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ KB

In [8]:
school_years_pre_18 = ['2015-16', '2016-17', '2017-18']

for index, df in enumerate(cleaned_dfs_2015_2021):
    if index < 3:  # For pre-2018 DataFrames
        df['SCHOOL_YEAR'] = school_years_pre_18[index]

        # setting school year as index for 2015-2017 school years to match post 2018 sy's

for i in range(3):  # This targets only the first three DataFrames
    # Assuming 'SCHOOL_YEAR' is a column that needs to be set as the index for these DataFrames
    cleaned_dfs_2015_2021[i].set_index('SCHOOL_YEAR', inplace=True)

# making sure column names match for post 2018
for i, df in enumerate(cleaned_dfs_2015_2021):
    # Check if 'RATE_NUMERIC' column exists in the DataFrame
    if 'RATE_NUMERIC' in df.columns:
        # Rename 'RATE_NUMERIC' to 'PERCENT_RATE'
        df.rename(columns={'RATE_NUMERIC': 'PERCENT_RATE'}, inplace=True)


for index, df in enumerate(cleaned_dfs_2015_2021):
    print(f"DataFrame {index} head:")
    print(df.head(), "\n")

DataFrame 0 head:
DATA_TYPE                       STATE    COHORT  PERCENT_RATE
SCHOOL_YEAR
2015-16                       ALABAMA  145983.0     76.378635
2015-16                        ALASKA   25039.0     62.145089
2015-16                       ARIZONA  202193.0     65.798584
2015-16                      ARKANSAS   94906.0     76.651163
2015-16      BUREAU OF INDIAN AFFAIRS    6772.0     69.043814

DataFrame 1 head:
DATA_TYPE                       STATE    COHORT  PERCENT_RATE
SCHOOL_YEAR
2016-17                       ALABAMA  110458.0     81.771401
2016-17                        ALASKA   25788.0     63.026316
2016-17                       ARIZONA  204878.0     64.633005
2016-17                      ARKANSAS  100439.0     77.265913
2016-17      BUREAU OF INDIAN AFFAIRS    9163.0     58.681579

DataFrame 2 head:
DATA_TYPE                         STATE    COHORT  PERCENT_RATE
SCHOOL_YEAR
2017-18                         ALABAMA  141949.0     77.201247
2017-18                          ALASKA   26634.0     63.012245
2017-18                         ARIZONA  217413.0     65.936614
2017-18                        ARKANSAS  102892.0     75.852765
2017-18      BUREAU OF INDIAN EDUCATION    9634.0     59.637056

DataFrame 3 head:
                                  STATE  COHORT  PERCENT_RATE
SCHOOL_YEAR
2018-2019                       ALABAMA  133900     78.639080
2018-2019                        ALASKA   26166     64.489540
2018-2019                       ARIZONA  220323     65.405128
2018-2019                      ARKANSAS  107551     74.131542
2018-2019    BUREAU OF INDIAN EDUCATION    8966     60.745238

DataFrame 4 head:
                                  STATE  COHORT  PERCENT_RATE
SCHOOL_YEAR
2019-2020                       ALABAMA  136374     78.251689
2019-2020                        ALASKA   25445     64.143154
2019-2020                       ARIZONA  230145     64.288913
2019-2020                      ARKANSAS  109168     74.784965
2019-2020    BUREAU OF INDIAN EDUCATION    9410     61.677249

DataFrame 5 head:
                  STATE   COHORT  PERCENT_RATE
SCHOOL_YEAR
2020-2021       ALABAMA   134727     78.340782
2020-2021        ALASKA    24658     63.096234
2020-2021       ARIZONA   229510     63.609646
2020-2021      ARKANSAS   105360     74.467483
2020-2021    CALIFORNIA  1285025     75.479113

In [9]:
# dropping Bureau of Indian Education since there is not information for SY 2020-2021
cleaned_dfs_2015_2021 = [
    df.query("STATE != 'BUREAU OF INDIAN EDUCATION'") 
    if 'STATE' in df.columns else df  # Check if 'STATE' column exists to avoid KeyError
    for df in cleaned_dfs_2015_2021
]
for index, df in enumerate(cleaned_dfs_2015_2021):
    if 'STATE' in df.columns and 'BUREAU OF INDIAN EDUCATION' in df['STATE'].values:
        print(f"BUREAU OF INDIAN EDUCATION exists in DataFrame {index}")
    else:
        print(f"DataFrame {index} is clean of BUREAU OF INDIAN EDUCATION")

DataFrame 0 is clean of BUREAU OF INDIAN EDUCATION
DataFrame 1 is clean of BUREAU OF INDIAN EDUCATION
DataFrame 2 is clean of BUREAU OF INDIAN EDUCATION
DataFrame 3 is clean of BUREAU OF INDIAN EDUCATION
DataFrame 4 is clean of BUREAU OF INDIAN EDUCATION
DataFrame 5 is clean of BUREAU OF INDIAN EDUCATION

In [10]:
for i, df in enumerate(cleaned_dfs_2015_2021):
    print(f"DataFrame {i} columns:", df.columns.tolist())

DataFrame 0 columns: ['STATE', 'COHORT', 'PERCENT_RATE']
DataFrame 1 columns: ['STATE', 'COHORT', 'PERCENT_RATE']
DataFrame 2 columns: ['STATE', 'COHORT', 'PERCENT_RATE']
DataFrame 3 columns: ['STATE', 'COHORT', 'PERCENT_RATE']
DataFrame 4 columns: ['STATE', 'COHORT', 'PERCENT_RATE']
DataFrame 5 columns: ['STATE', 'COHORT', 'PERCENT_RATE']

In [12]:
for i, df in enumerate(cleaned_dfs_2015_2021):
    """
    Renames columns in each DataFrame within cleaned_dfs_2015_2021 to include the full school year in their names.

    This loop iterates through each DataFrame in the cleaned_dfs_2015_2021 list. For each DataFrame, it calculates the
    start and end years based on the index and a base year of 2015. It then renames the 'COHORT' and 'PERCENT_RATE'
    columns to 'Cohort_{start_year}_{end_year}' and 'Rate_{start_year}_{end_year}', respectively, to reflect the
    specific school year the data pertains to. The renaming is done in-place, updating each DataFrame within the list.

    Parameters:
    - i: Index of the current DataFrame in the cleaned_dfs_2015_2021 list.
    - df: The current DataFrame being processed.

    Returns:
    - None. The function directly modifies the DataFrames in the cleaned_dfs_2015_2021 list.
    """
    start_year = 2015 + i
    end_year = start_year + 1  # To get the format like 2015_2016
    df.rename(columns={'COHORT': f'Cohort_{start_year}_{end_year}', 'PERCENT_RATE': f'Rate_{start_year}_{end_year}'}, inplace=True)

In [16]:
def merge_dataframes(cleaned_dfs):
    """
    Merges a list of DataFrames into a single DataFrame.

    This function initializes the merged DataFrame with the first DataFrame in the provided list.
    It then iteratively merges each subsequent DataFrame into this initial DataFrame based on the 'STATE' column.
    The merge is done using an outer join to ensure all data from each state is retained, even if some states
    are missing from some DataFrames. The result is a comprehensive DataFrame that combines all the provided
    DataFrames' information.

    Parameters:
    - cleaned_dfs (list of pd.DataFrame): A list of cleaned DataFrames ready to be merged. Each DataFrame
      must contain a 'STATE' column as the key for merging.

    Returns:
    - pd.DataFrame: A single DataFrame resulting from the outer merge of all DataFrames in the input list.
    """
    merged_state_grads_df = cleaned_dfs[0]

    for df in cleaned_dfs[1:]:
        merged_state_grads_df = pd.merge(merged_state_grads_df, df, on="STATE", how="outer")

    # Set 'STATE' column as index
    merged_state_grads_df.set_index('STATE', inplace=True)

    return merged_state_grads_df

# Usage
merged_state_grads_df = merge_dataframes(cleaned_dfs_2015_2021)

# Filtering out "Bureau of Indian Affairs"
merged_state_grads_df = merged_state_grads_df[merged_state_grads_df.index != 'BUREAU OF INDIAN AFFAIRS']

# Print to see if everything looks good
print(merged_state_grads_df.head())

           Cohort_2015_2016  Rate_2015_2016 Cohort_2016_2017  Rate_2016_2017  \
STATE
ALABAMA            145983.0       76.378635         110458.0       81.771401
ALASKA              25039.0       62.145089          25788.0       63.026316
ARIZONA            202193.0       65.798584         204878.0       64.633005
ARKANSAS            94906.0       76.651163         100439.0       77.265913
CALIFORNIA        1305135.0       76.375773        1256965.0       76.089526

           Cohort_2017_2018  Rate_2017_2018  Cohort_2018_2019  Rate_2018_2019  \
STATE
ALABAMA            141949.0       77.201247          133900.0       78.639080
ALASKA              26634.0       63.012245           26166.0       64.489540
ARIZONA            217413.0       65.936614          220323.0       65.405128
ARKANSAS           102892.0       75.852765          107551.0       74.131542
CALIFORNIA        1312181.0       74.947489         1291970.0       75.708344

            Cohort_2019_2020  Rate_2019_2020  Cohort_2020_2021  Rate_2020_2021
STATE
ALABAMA             136374.0       78.251689          134727.0       78.340782
ALASKA               25445.0       64.143154           24658.0       63.096234
ARIZONA             230145.0       64.288913          229510.0       63.609646
ARKANSAS            109168.0       74.784965          105360.0       74.467483
CALIFORNIA         1285366.0       75.111411         1285025.0       75.479113

In [17]:
!pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\user\anaconda3\lib\site-packages (4.6.5)
Requirement already satisfied: scipy<1.12,>=1.4.1 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (1.11.1)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (2.0.3)
Requirement already satisfied: matplotlib<3.9,>=3.2 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (3.7.2)
Requirement already satisfied: pydantic>=2 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (2.6.3)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (0.7.5)
Requirement already satisfied: numpy<1.26,>=1.16.0 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (1.24.3)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (1.11.2)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (0.14.0)
Requirement already satisfied: typeguard<5,>=4.1.2 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (4.1.5)
Requirement already satisfied: imagehash==4.3.1 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<0.59.0,>=0.56.0 in c:\users\user\anaconda3\lib\site-packages (from ydata-profiling) (0.57.1)
Requirement already satisfied: PyWavelets in c:\users\user\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.4.1)
Requirement already satisfied: pillow in c:\users\user\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (9.4.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->ydata-profiling) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\user\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (23.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib<3.9,>=3.2->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\user\anaconda3\lib\site-packages (from numba<0.59.0,>=0.56.0->ydata-profiling) (0.40.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\user\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.2.0)
Requirement already satisfied: annotated-types>=0.4.0 in c:\users\user\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.6.0)
Requirement already satisfied: pydantic-core==2.16.3 in c:\users\user\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.16.3)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\user\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2023.7.22)
Requirement already satisfied: patsy>=0.5.2 in c:\users\user\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)

In [20]:
from ydata_profiling import ProfileReport
state_grads_profile = ProfileReport(merged_state_grads_df, title="Profile Report", explorative=True)

In [21]:
state_grads_profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

,Cohort_2015_2016,Rate_2015_2016,Cohort_2016_2017,Rate_2016_2017,Cohort_2017_2018,Rate_2017_2018,Cohort_2018_2019,Rate_2018_2019,Cohort_2019_2020,Rate_2019_2020,Cohort_2020_2021,Rate_2020_2021
STATE,,,,,,,,,,,,
ALABAMA,145983.0,76.378635,110458.0,81.771401,141949.0,77.201247,133900.0,78.639080,136374.0,78.251689,134727.0,78.340782
ALASKA,25039.0,62.145089,25788.0,63.026316,26634.0,63.012245,26166.0,64.489540,25445.0,64.143154,24658.0,63.096234
ARIZONA,202193.0,65.798584,204878.0,64.633005,217413.0,65.936614,220323.0,65.405128,230145.0,64.288913,229510.0,63.609646
ARKANSAS,94906.0,76.651163,100439.0,77.265913,102892.0,75.852765,107551.0,74.131542,109168.0,74.784965,105360.0,74.467483
CALIFORNIA,1305135.0,76.375773,1256965.0,76.089526,1312181.0,74.947489,1291970.0,75.708344,1285366.0,75.111411,1285025.0,75.479113
COLORADO,170104.0,66.989005,172656.0,67.217416,182296.0,67.019502,185387.0,67.832444,186766.0,67.660865,188020.0,67.560170
CONNECTICUT,111552.0,73.430323,112344.0,74.784434,109143.0,74.230686,114230.0,75.285037,114442.0,74.588266,110921.0,75.720313
DELAWARE,24280.0,73.600575,24843.0,75.322581,25004.0,74.258883,24086.0,74.136364,23753.0,73.773333,28858.0,69.682377
DISTRICT OF COLUMBIA,14734.0,68.418750,14841.0,69.544304,15052.0,64.547872,15438.0,64.542453,14213.0,68.098039,13356.0,66.658654
FLORIDA,536648.0,72.603242,556875.0,73.404075,575615.0,76.652012,586513.0,77.505170,585167.0,81.488355,584906.0,81.109353

,Cohort_2015_2016,Rate_2015_2016,Cohort_2016_2017,Rate_2016_2017,Cohort_2017_2018,Rate_2017_2018,Cohort_2018_2019,Rate_2018_2019,Cohort_2019_2020,Rate_2019_2020,Cohort_2020_2021,Rate_2020_2021
STATE,,,,,,,,,,,,
TENNESSEE,170400.0,79.570556,177993.0,79.951268,184127.0,78.232572,187388.0,78.328471,186639.0,77.987254,184722.0,76.653326
TEXAS,905626.0,75.788306,935834.0,75.849329,1002162.0,75.516783,1058931.0,75.568652,NaN,NaN,1080619.0,75.494268
UTAH,109404.0,71.031729,NaN,NaN,NaN,NaN,NaN,NaN,239013.0,73.716867,243149.0,73.807322
VERMONT,16037.0,74.640244,15635.0,74.934263,15407.0,72.880952,14587.0,71.188636,15208.0,70.946903,15178.0,71.015695
VIRGINIA,231038.0,73.828626,241885.0,74.142217,251452.0,73.750774,254039.0,73.750784,257399.0,75.097122,252753.0,75.766154
WASHINGTON,203730.0,70.319813,207249.0,70.672682,206645.0,74.427888,218063.0,71.171623,230876.0,70.743902,NaN,NaN
WEST VIRGINIA,49051.0,80.029091,56443.0,81.732342,57253.0,79.304487,43683.0,76.411003,51779.0,80.860248,50486.0,77.857143
WISCONSIN,160199.0,75.049941,160581.0,75.053253,166749.0,75.480577,166356.0,75.039695,164365.0,75.040860,163537.0,74.647480
WYOMING,18321.0,68.292411,NaN,NaN,18173.0,68.756410,18330.0,68.339662,18363.0,68.085106,18940.0,68.004219
PUERTO RICO,NaN,NaN,NaN,NaN,93148.0,68.375000,86383.0,68.000000,79139.0,68.937500,75487.0,71.687500

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…